.main{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-button{
    padding: 5px;
    margin-bottom: 30px;
    background-color: aqua;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
}

li{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 2px;

}
