/*COMMON STYLES*/
body{
    min-height: 100vh;
    background-image: url(../img/rana-sawalha.png);
    background-size: cover;
}

.clearfix::after{
    content: '';
    display: table;
    clear:both;
}

.colored-text-link{
    color: #3cb878;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.colored-text-link:hover{
    border-bottom: 1px solid #3cb878;
}

/*NAVBAR*/

.navbar{
    padding: 22px 75px 19px 81px;
    background-color: rgba(0, 0, 0, 0.4);
}
.navbar-logo{
    display: inline-block;
    float: left;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
.navbar-logo:hover{
    color: #3cb878;
    transition: 0.4s;
}
.navbar-right-col{
    float: right;
}
.navbar-navigation{
    display: inline-block;
    border-right: 1px solid #302f2e;
    margin-right: 28px;
}
.navbar-welcome-text{
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.icon{
    display: inline-block;
    background-image: url(../img/css_sprites.png);
    background-repeat: no-repeat;
    margin-right: 28px;
}
.icon-calendar{
    background-position: -106px -10px;
    width: 19px;
    height: 19px;
}
.icon-forum{
    background-position: -10px -10px;
    width: 28px;
    height: 20px;
}
.icon-journey{
    background-position: -10px -50px;
    width: 20px;
    height: 20px;
}
.icon-calendar:hover{
    background-position: -106px -49px;
    width: 19px;
    height: 19px;
}
.icon-forum:hover{
    background-position: -58px -10px;
    width: 28px;
    height: 20px;
}
.icon-journey:hover{
    background-position: -50px -50px;
    width: 20px;
    height: 20px;
}

/*REGISTRATION FORM*/

.registration{
    padding: 29px 60px 32px 62px;
    width: 444px;
    margin: 0 auto;
    border-radius: 9px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% + 28px));
    box-sizing: border-box;
}

.registration-header{
    margin-bottom: 15px;
    position: relative;
}

.square{
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    top: 30px;
    left: 0;
}

.registration-header-label{
    display: inline-block;
    float: left;
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 0.5px;
    color: #434343;
    text-transform: capitalize;
}

.registration-header-link{
    display: inline-block;
    float: right;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.login-Btn{
    display: inline-block;
    box-sizing: border-box;
    padding: 13px 0;
    border: none;
    text-align: center;
    line-height: 34px;
    border-radius: 4px;
    font-size: 16px;
    color: #FFF;
    width: 48.8%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

.login-Btn::before {
    content: " ";
    box-sizing: border-box;
    width: 34px;
    height: 100%;
}

.login-Btn-facebook {
    background-color: #305db8;
    float: left;
}

.login-Btn-facebook:hover{
    background-color: #264b96;
    transition: 0.4s;
}

.login-Btn-facebook::before {
    display: inline-block;
    content: "\f39e";
    font-family: "Font Awesome 5 Brands", serif;
    font-size: 23px;
    float: left;
    border-right: 1px solid #2b54a5;
    width: 30%;
}

.login-Btn-google {
    background: #df4a32;
    float: right;
}

.login-Btn-google:hover{
    background-color: #c3412c;
    transition: 0.4s;
}

.login-Btn-google::before {
    display: inline-block;
    float: left;
    border-right: 1px solid #c8422d;
    width: 30%;
    content: "\f0d5";
    font-family: "Font Awesome 5 Brands", serif;
    font-size: 23px;
}

.alternative{
    display: block;
    margin: 33px 0 18px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #848484;
    letter-spacing: 0.5px;
}

.alternative::before{
    display: inline-block;
    content: ' ';
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
    margin-right: 15px;
    vertical-align: middle;
}

.alternative::after{
    display: inline-block;
    content: ' ';
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
    margin-left: 15px;
    vertical-align: middle;
}

.registration-field{
    width: 100%;
    padding: 18px;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform:capitalize;
    letter-spacing: 0.5px;
    margin-bottom: 9px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    display: block;
}

.registration-field:focus{
    box-shadow: -2px 2px 10px #e1e1e1;
    margin-bottom: 17px;
}

.btn{
    display: block;
    width: 100%;
    background-color: #3cb878;
    color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 17px 100px;
    font-size: 16px;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 28px;
    border: none;
}

.btn:hover, .btn:active{
    background-color: #329a65;
    border-color: #329a65;
    transition: 0.4s;
}

.decision{
    display: none;
}

label {
    color:#434343;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
}

label::before {
    content: " ";
    display: inline-block;
    font: 12px/20px FontAwesome;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-image: initial;
    vertical-align: middle;
    box-sizing: border-box;
}

input:checked + label::before {
    content: "\f00c";
    color: #3cb878;
}