@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

.container{
    width: 1130px;
    margin: 0 auto;
}

.scroll-top{
    text-decoration: none;
    display: none;
    padding: 20px;
    font-size: 18px;
    background-color: lightblue;
    color: lightcoral;
    position: fixed;
    bottom:100px;
    right:100px;
}

.scroll-top.active{
    display: inline-block;
}

/*HEADER*/

.header{
    display: flex;
    flex-wrap: wrap;
    background-color: #1d2124;
    justify-content: space-between;
    align-items: center;
}

.main-logo{
    display: flex;
    align-items: center;
}

.logo-img{
    padding: 21px;
    background-color: #171a1c;
}

.logo-img-title{
    color: #ffffff;
    font-size: 22px;
    margin-left: 27px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.nav-list{
    display: flex;
}



.nav-list-item{
    margin-right: 37px;
}

.nav-list-link{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 ;
}

.header-search{
    padding: 24px 25px;
    font-size: 15px;
    background-color: #171a1c;

}

/*LATEST NEWS*/

.latest-news{
    background-image: url(../img/header-bg.png);
    background-size: cover;
    padding-top: 127px;
    padding-bottom: 128px;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;

}

.latest-news-title{
    color: #ffffff;
    font-size: 27px;
    text-transform: uppercase;
    margin-bottom: 44px;
    font-family: 'Open Sans', sans-serif;
    align-self: center;
}

.btn-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-btn{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    flex:0 0 170px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #89ca62;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.news-btn:nth-child(2){
    background-color: #14b9d5;
    margin-left: 20px;
}

/*POPULAR POSTS*/

.posts{
    padding-top: 60px;
    background-color: #f2f2f2;
    padding-bottom: 70px;
    box-sizing: border-box;
}

.popular-post-picture{
    max-width: 350px;
    height: auto;
}



.popular-posts-title{
    text-transform: uppercase;
    color: #18b4cf;
    font-size: 27px;
    margin-bottom: 52px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.popular-posts-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 900px;
    align-content: space-between;

}

.post-header{
    display: flex;
    justify-content: center;
}

.popular-post{
    margin-bottom: 31px;
    max-height: 441px;
    width: 350px;

}

.popular-post-desc{
    padding-top: 21px;
    padding-bottom: 21px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}


/*OUR CLIENTS*/

.our-clients{
    background-image: url(../img/parallax-bg.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 590px;
    display: grid;
    justify-items: center;
    align-content: center;
    margin-bottom: 60px;
    background-attachment: fixed;

}

.our-clients-title{
    color: #ffffff;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}

.our-clients-title::after{
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    margin: 60px auto;

}

.our-clients-logo{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
}

.client-block{
    margin-right: 76px;
}

/*TOP RATED*/

.top-rated{
    margin-bottom: 60px;
}

.top-rated-block{
    display: grid;
    grid-auto-flow: column;
}

.top-rated-img{
    max-width: 100%;
    height: auto;
}

/*HOT NEWS*/

.hot-news{
    margin-bottom: 71px;
}

.news-block{
    max-width:  1130px;
    display: grid;
    justify-content:space-between ;
    grid-template-areas:
            "item1 item1 item1 item2"
            "item3 item3 item4 item4"
            "item5 item5 item6 item6"
            "item7 item8 item8 item8";
    grid-row-gap: 1vw ;
}

.news-item{
    background-color: #f9f7f7;
}

.item-text{
    font-size: 18px;
    margin-bottom: 22px;
    text-align: right;
    padding-top: 20px ;
    box-sizing: border-box;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.item1{
    width: 840px;
    grid-area: item1;
    height: 259px;
    display: grid;
    grid-auto-flow: column;
}

.item1-text{
    width: 320px;
    /*padding-left: 30px;*/

}

.item1-text .item-text{
    text-align: center;
}

.item-subtext{
    box-sizing: border-box;
    font-size: 14px;
    text-align: right;
    line-height: 1.5;
    padding-bottom: 18px;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.item2{
    grid-area: item2;

}

.item2-img{
    width: 259px;
}

.item2 .item-text{
    text-align: center;
    padding-right: 0;
    width: 259px;
}

.item3{
    grid-area: item3;
}

.item4{
    grid-area: item4;
}

.item5{
    grid-area: item5;
}

.item6{
    grid-area: item6;
}

.item7{
    grid-area: item7;

}

.item8{
    grid-area: item8;

}

.item8-img{
    width: 470px;
    margin-left: 20px;

}

.item7 .item-text{
    text-align: center;
    padding-right: 0;
}

.item8{
    width: 856px;
    display: grid;
    grid-auto-flow: column;
}

.close-btn-block{
    text-align: center;
}

.close-btn{
    padding: 20px;
    font-size: 16px;
    background-color: lightslategray;
    color:lightblue;
    cursor: pointer;

}

/*FOOTER*/

.footer{
    background-color: #1d2124;
    padding-top: 29px;
    padding-bottom: 27px;
}

.footer-box{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr ;

}

.footer-author{
    color: #ffffff;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;

}

.footer-logo{
    display: flex;
    justify-self: end;
}

.footer-logo-link{
    text-decoration: none;
}
