.container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

/*NAVBAR*/

.navbar {
    background-color: #151616;
    position: relative;
}

.navbar_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    margin-left: 10px;
}

.navbar-toggler {
    background-color: rgba(21, 22, 22, 0.7);
    width: 55px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    position: absolute;
    top: 5px;
    right: 10px;

}
.navbar-toggler-line {
    background-color: #F38A03;
    width: 25px;
    height: 2px;
    margin-bottom: 7px;

}
.navbar-nav {
    display: none;
    background-color: rgb(21, 22, 22);
    position: absolute;
    top:50px;
    right:0;
    z-index: 200;
    padding: 15px;
    flex-direction: column;
}

.navbar-nav.active{
    display: flex;
}

.navbar-nav-item{
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
}

.navbar-nav-link{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;

}

/*BUTTON*/

.box {
    border-radius: 2px;
    position: absolute;
    top: 30px;
    right:0;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #151616;
    box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.3);
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    cursor: pointer;
}

span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 3px;
    height: 3px;
    background-color: #F38A03;
    transition: all .3s;
    position: relative;
}

span + span {
    margin-top: 14px;
}

.active span:nth-child(1) {
    animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
    animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
    animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 22px;
        transform: rotate(0);
    }
    100% {
        top: 15px;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 22px;
        transform: rotate(45deg);
    }
    50% {
        top: 22px;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 22px;
        transform: rotate(0);
    }
    100% {
        bottom: 22px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 22px;
        transform: rotate(135deg);
    }
    50% {
        bottom: 22px;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


/*HEADER*/

.header{
    background-image: url(../img/main.png);
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 218px;
    max-width: 100%;
}

.header::after{
    content: "";
    width: 265px;
    height: 64px;
    background-color: #ED1260;
    position: absolute;
    bottom:160px;
    right:0;
    z-index: 1000;
}

.header-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.header-title{
    font-size: 25px;
    line-height: 30px;
    padding: 41px 31px;
    background-color: #000;
    margin-bottom: 14px;
    color: #ffffff;
    margin-left: 12px;
    width: 257px;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

.header-subtitle{
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #ffffff;
    padding: 7px 32px;
    background-color: #000000;
    margin-left: 75px;
    width: 131px;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

/*ADVANTAGE*/


.invisible-text{
    display: none;
    font-family: 'Montserrat',sans-serif;
}

.main-info{
    background-color: #141515;
    padding-bottom: 63px;
    position: relative;
}

.main-info-block{
    padding-bottom: 56px;
}

.advantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.advantage{
    width: 35%;
    text-align: center;
    margin-bottom: 20px;
}

.advantage-text{
    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 8px;
    font-family: 'Montserrat',sans-serif;
}

.big{
    margin-top: 17px;
}

.info-text{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-top: 103px;
    margin: 0 52px 67px 58px;
    font-family: 'Montserrat',sans-serif;
}

/*MAP*/

.info-map{
    padding: 15px;
    border:5px solid #ED1260;
    box-sizing: border-box;
    text-align: center;
    width: 100%;

}

.map-picture{
    max-width: 100%;
}

.map-subtitle{
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    text-align: center;
    margin-top: 7px;
    font-family: 'Montserrat',sans-serif;
}

/*FOOTER*/

.footer{
    background-color: #141515;
    padding-top: 26px;
    padding-bottom: 26px;
    box-sizing: border-box;
    width: 100%;
    border:  5px solid #F38A03;
    display: flex;
    justify-content: center;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    padding-left: 64px;
    max-width: 70%;
}



.contacts-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    margin-bottom: 21px;
}

.contacts-text{
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    margin-left: 27px;
    font-family: 'Montserrat',sans-serif;
}

.second{
    margin-left: 53px;
}


@media (min-width: 768px) {


    .navbar-nav {
        display: flex;
        position: static;
        padding: 0;
        flex-direction: row;
    }

    .box{
        display: none;
    }

    .navbar-nav-link{
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        font-family: 'Montserrat',sans-serif;

    }

    .navbar-nav-item{
        margin-right: 81px;
        padding-top: 28px;
        padding-bottom: 28px;
        border-bottom: none;
    }

    .navbar-logo{
        margin-left: 58px;
    }

    .container{
        max-width: 957px;
        margin: 0 auto;
        padding: 0;
    }

    .header-block{
        background-image: url(../img/bigMain.png);
        background-size: cover;
        background-position: center;
        position: relative;
        padding-top: 80px;
        padding-bottom: 218px;
        max-width: 100% ;
    }

    .header{
        background-color: #141515;
        background-image: none;
        position: static;
    }

    .main-info{
        position: static;
    }

    .header::after{
        display: none;
    }

    .header-block::after{
        content: "";
        width: 107px;
        height: 347px;
        right:0;
        background-color: #ED1260;
        position: absolute;
        top:0;
    }

    .header-title{
        width: 327px;
        margin-left: 44px;
        padding: 52px 46px;
        font-size: 32px;
        line-height: 39px;
        box-sizing: border-box;

    }

    .header-subtitle{
        width: 200px;
        margin-left: 115px;
        padding: 14px 55px;
        font-size: 22px;
        line-height: 27px;
    }

    .info-text{
        font-size: 25px;
        line-height: 30px;
        padding-top: 37px;
    }

    .advantage-text{
        font-size: 18px;
        line-height: 22px;
    }

    .advantage{
        width: 30%;
    }

    .footer{
        border: none;
    }

    .contacts-title{
        font-size: 45px;
        line-height: 55px;
        text-align: left;
    }

    .contacts{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contacts-img{
        width: 45px;
        margin-bottom: 34px;
    }

    .contact{
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .invisible-text{
        display: inline-block;
        font-size: 25px;
        line-height: 30px;
        color: #FFFFFF;
        margin-bottom: 9px;
    }

    .contacts-text{
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 9px;
        margin-left: 0;
    }
}


@media (min-width: 1200px){

    .header::after{
        display: none;
    }

    .header-block::after{
        right:-100px;

    }
}
