@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

.wrapper{
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.wrapper::after{
    z-index: -3;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F5F6F6;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.c-blue {
    color: #0AAEE4 !important;
}
