/*COMMON STYLES*/

.container{
    margin: 0 auto;
    width: 1280px;
}

/*LOGO*/

.header-logo{
    padding: 61px 0 45px;
}

.logo{
    font-size: 80px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.logo-colored{
    color: #4bcaff;
}

.logo-link{
    text-decoration: none;
    color: #000000;
}

/*HEADER NAVBAR*/

.header-navbar{
    background-color: #35444f;
    text-align: center;
}

.header-navbar-nav{
    display: inline-block;

}
.header-nav-item{
    display: inline-block;
    padding: 26px 42px;
}

.header-nav-link{
    color: #ffffff;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
}

.header-nav-item:hover{
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    transition: 0.4s;
}

/*MAIN CONTENT*/

.main-content{
    margin-top: 51px;
}

/*LEFT MENU*/

.left-navbar{
    border: 1px solid #000000;
    width: 345px;
    display: inline-block;
    vertical-align: top;
}

.left-nav-item{
    padding: 30px 44px;
}
.left-nav-item:hover{
    background-color: #dbdbdb;
    padding-left: 69px;
    transition: 0.4s;
    color: #000000;
}
.left-nav-link{
    text-decoration: none;
    color: #495863;
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*DESCRIPTION*/

.description{
    display: inline-block;
    width: 885px;
    margin-left: 44px;
}

.main-image{
    text-align: center;
    border: 1px solid #000000;
    padding: 75px 0;
    display: block;
}
.scale:hover{
    transform: scale(1.4);
    transition: 0.7s;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

.main-text{
    margin-top: 50px;
    text-align: left;
    padding: 0 30px;
}

.text{
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
    margin-bottom: 30px;
}

/*FOOTER*/

.footer-navbar{
    background-color: #b4b7ba;
    margin-top: 21px;
}

.footer-navbar-nav{
    display: inline-block;
    padding-left: 33px;
}

.footer-nav-item{
    display: inline-block;
    padding: 22px 11px;
}

.footer-nav-link{
    text-decoration: none;
    color: #0c1927;
    font-size: 28px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.footer-nav-link:hover{
    color: #4288a9;
    text-decoration-line: underline;
}

.copyright-info{
    display: inline-block;
    font-size: 24px;
    color: #0d0d0d;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 155px;
}