.subscribe-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/movieCollage.png);
    position: relative;
    color: #ffffff;
    z-index: -2;
    margin-bottom: 20px;
}

.subscribe-section::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
}

.subscribe-text-container{
    padding-top: 70px;
    padding-bottom: 30px;
}

.subscribe-text{
    padding-bottom: 5px;
    text-align: center;
    font-size: 18px;
}

.subscribe-btn{
    color: #ffffff;
    padding: 10px 20px;
    background-color: #3BB4E0;
    border-radius: 5px;
    margin-bottom: 60px;
}
