
.container{
    width: 1280px;
    margin: 0 auto;
}
.header-list{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}
.header-list-item{
    margin-right: 65px;
    display: inline-block;
}
.list-item-link{
    text-decoration: none;
    color:#16a085;
}
.main-content{
    text-align: center;
    background-color: #f5f6f7;
}
.content-name{
    text-transform: uppercase;
    font-size: 22px;
}
.text-container{
    width: 1059px;
    margin: 0 auto;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 94px;
    letter-spacing: 2px;
    font-family: Arial, sans-serif;
    font-weight: 600;
}
.btn{
    display: inline-block;
    background-color: #16a085;
    border-radius: 3px;
    margin-top: 31px;
    padding: 20px 44px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
}
.footer-container{
    width: 1059px;
    margin: 0 auto;
}
.footer-text{
    text-align: right;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: Arial, sans-serif;
    font-weight: 600;
}