@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

body {
    font-family: Montserrat, sans-serif;
}

.header {
    min-width: 1200px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    color: #b8b8b8;
    background:
            linear-gradient(to top, rgba(81,81,80,0.5), rgba(81,81,80,0.5)),
            url('../img/Sections background/section-1(header).jpg') center no-repeat;
    background-size: cover;
}
.header_navigation {
    margin: 0;
    background-color: rgba(81,81,80,0.6);
}
.header_navigation-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo {
    margin: 0;
    font-size: 32px;
    font-weight: normal;
    color: #ffffff;
}

.logo_hexagon {
    display: inline-block;
    margin-right: 10px;
    width: 60px;
    height: 40px;
    background: #18cfab;
    position: relative;
    text-align: center;
    vertical-align: center;
    line-height: 40px;
    font-size: 40px;
    font-weight: bold;
}
.logo_hexagon:before,
.logo_hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}
.logo_hexagon:before {
    top: -15px;
    left: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 15px solid #18cfab;
}
.logo_hexagon:after {
    bottom: -15px;
    left: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #18cfab;
}

.logo-link {
    text-decoration: none;
    color: #ffffff;
}
.logo-green {
    color: #18cfab;
    font-weight: bold;
}
.header_menu {
    display: flex;
    align-items: center;
}
.menu_item {
    position: relative;
    margin-right: 25px;
    padding: 55px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #b8b8b8;
}
.menu_item:hover {
    color: #18cfab;
}
.menu_item:before,
.menu_item:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0; right: 0;
    height: 2px;
    background-color: #18cfab;
}
.menu_item:before {
    opacity: 0;
    transform: translateY(-8px);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s;
}
.menu_item:after {
    opacity: 0;
    transform: translateY(4px);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0.2s;
}
.menu_item:before {
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0.2s;
}
.menu_item:after {
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s 0.2s;
}
.menu_item:hover::before,
.menu_item:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.header_search {
    cursor: pointer;
}
.header_search-inner{
    width: 71px;
    height: 70px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.header_search-inner input#search{
    width: 70px;
    height: 70px;
    background-color: rgba(26, 29, 32, 0);
    border: none;
    font-size: 14px;
    float: left;
    padding-left: 20px;
    color: #fff;
    transition: width 0.3s, transform 0.7s ;
}
.header_search-inner input#search:focus,
.header_search-inner input#search:active {
    width: 220px;
    background-color: #1ac9a6;
    border-radius: 5px;
    outline: none;
}
.header_search-inner:hover input#search,
.header_search-inner input#search:focus {
    width: 220px;
    background-color: #1ac9a6;
    border-radius: 5px;
    transform: translateX(-220px);
}
.header_search-inner .header_search-icon {
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 1;
    color: #99a7b2;
}
.header_search-inner:hover .header_search-icon {
    color: #364049;
}

.header-inner {
    padding: 235px 187px 245px;
    box-sizing: border-box;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.header_title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 35px;
}
.header_title .title-green {
    color: #18cfab;
}
.header_slogan {
    margin: 0;
    margin-bottom: 15px;
    font-size: 79px;
}
.header_subtitle {
    margin: 0;
    margin-bottom: 140px;
    font-size: 34px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #b8b8b8;
}
.header_btn {
    display: inline-block;
    padding: 25px 30px;
    font-size: 13px;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 -5px 0 0 #ffffff;
    transition: background-color 300ms ease-in;
}
.header_btn-review {
    margin-right: 30px;
    background-color: #1ac9a6;
}
.header_btn-review:hover {
    background-color: #28947e;
}
.header_btn-buy {
    background-color: #03c5ee;
}
.header_btn-buy:hover {
    background-color: #20899f;
}

.main-wrapper {
    min-width: 1200px;
    background-color: #f7f7f7;
}
.features {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
}
.features_item {
    display: grid;
    justify-items: center;
    align-items: end;
    padding-top: 85px;
    padding-bottom: 115px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #1ac9a6;
    background-color: #1e2b34;
    border-top: 7px solid #1ac9a6;
}
.features_item:nth-child(2n) {
    color: #ffffff;
    background-color: #1ac9a6;
    border-top-color: #ffffff;
}
.features_img-1 {
    width: 58px;
    height: 97px;
    background: url("../img/1-pointer-hand green.png");
}
.features_img-2 {
    width: 93px;
    height: 75px;
    background: url("../img/2-diamond white.png");
}
.features_img-3 {
    width: 60px;
    height: 96px;
    background: url("../img/3-bulb green.png");
}
.features_img-4 {
    width: 99px;
    height: 76px;
    background: url("../img/4-gadgets white.png");
}
.features_text {
    margin: 0;
    padding-top: 50px;
}


.services{
    padding-top: 75px;
    padding-bottom: 100px;

    color: #717171;
    font-size: 13.6px;
    font-weight: normal;
    text-align: justify;
}
.services_title {
    margin: 0;
    margin-bottom: 100px;
    position: relative;

    color: #4e4e4e;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
}
.title-decoration {
    position: relative;
}
.title-decoration::after,
.title-decoration::before {
    position: absolute;
    content: '';
    width: 75px;
    height: 1px;
    background-color: #1ac9a6;
}
.title-decoration::after {
    bottom: -33px;
    left: calc(50% - 75px/2);
}
.title-decoration::before {
    bottom: -36px;
    left: calc(50% - 75px/2 + 12px);
}
.services_tabs{
    display: flex;
    margin-bottom: 25px;

    font-size: 16px;
    list-style: none;
}
.services_tabs-title {
    position: relative;
    padding: 27px 0;
    flex-grow: 1;
    flex-basis: 100px;
    text-align: center;
    text-transform: capitalize;
    background-color: #f0f4f6;
    border: 1px solid #e4e4e4;
    transition: color 200ms ease-in,
    background-color 400ms ease-in-out;
}
.services_tabs-title:hover {
    color: #ffffff;
    background-color: #1ac9a6;
    cursor: pointer;
}
.services_tabs-title.active {
    color: #ffffff;
    background-color: #1ac9a6;
}
.services_tabs-title.active::after{
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    bottom: -8px;
    left: calc(50% - 14px/2);
    transform: rotate(45deg);
    background-color: #1ac9a6;
}

.services_tabs-content {
    list-style: none;
}
.services_tabs-item {
    margin: 0;
    margin-bottom: 10px;
    display: none;
    align-items: flex-start;
}
.services_tabs-item.active {
    display: flex;
}
.services_img {
    margin-right: 20px;
    object-fit: contain;
}
.services_text {
    margin: 0;
    line-height: 24px;
}

.purchase-wrapper {
    background:
            linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
            url("../img/Sections background/section-2.jpg") center no-repeat;
    background-size: cover;
}
.purchase {
    padding: 125px 0;
    text-align: center;
}
.purchase_slogan {
    margin: 0;
    margin-bottom: 40px;
    color: #18cfab;
    font-size: 40px;
    text-transform: uppercase;
}
.purchase_text {
    margin-bottom: 80px;
    color: #d8d8d8;
}
.purchase_btn {
    padding: 25px 30px;
    font-size: 13px;
    color: #ffffff;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #1ac9a6;
    box-shadow: 0 -5px 0 0 #ffffff;
    transition: background-color 300ms ease-in;
}
.purchase_btn:hover {
    background-color: #28947e;
}

.projects-wrapper {
    background-color: #f0f4f6;
    border-bottom: 2px solid #dadada;
}
.projects {
    padding-top: 95px;
    padding-bottom: 115px;
    text-align: center;
}
.projects_title {
    position: relative;
    margin: 0;
    margin-bottom: 115px;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: normal;
    text-transform: capitalize;
}
.projects_sorting {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    list-style: none;
}
.projects_sorting-title {
    padding: 20px 30px;
    font-size: 14px;
    color: #717171;
    background-color: #f7f7f7;
    border: 1px solid #e4e4e4;
    cursor: pointer;
}
.projects_sorting-title:hover {
    color: #1ac9a6;
}
.projects_sorting-title.active {
    padding-top: 19px;
    color: #1ac9a6;
    border-top: 2px solid #1ac9a6;
}
.projects_list {
    margin: 0;
    margin-bottom: 70px;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}
.projects_item {
    position: relative;
    display: none;
    justify-items: stretch;
    align-items: stretch;
    cursor: pointer;
}
.projects_item:hover .projects_info {
    opacity: 1;
}
.projects_item.show {
    display: grid;
}

.projects_info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    color: #18cfab;
    background-color: #f0f4f6;
    border-top: 2px solid #18cfab;
    transition: opacity 250ms ease-out;
}
.projects_icon {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 35px;
    padding: 15px 17px;
    border: 2px solid #18cfab;
    border-radius: 50%;
    cursor: pointer;
}
.projects_icon:hover {
    color: #ffffff;
    background-color: #18cfab;
}
.projects_icon i {
    font-family: FontAwesome;
    font-size: 15px;
    font-style: normal;
}
.projects_item-title {
    margin: 0;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.projects_category {
    font-weight: lighter;
    font-size: 12px;
    color: #8a8a8a;
    text-transform: capitalize;
}
.projects_btn {
    padding: 25px 30px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    vertical-align: center;
    color: #ffffff;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #1ac9a6;
    transition: background-color 300ms ease-in;
}
.projects_btn:hover {
    background-color: #28947e;
}
.projects_btn-icon {
    margin-right: 15px;
    font-family: FontAwesome;
    font-size: 25px;
    font-weight: normal;
    line-height: 30px;
    vertical-align: middle;
    color: #ffffff;
    font-style: normal;
}
.loader-wrapper {
    position: relative;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1.6;
    background: #F2F1EF;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 10px;
    background: #03c5ee;
    border-radius: 5px;
    -webkit-animation: load 1.8s ease-in-out infinite;
    animation: load 1.8s ease-in-out infinite;
    box-sizing: border-box;
}
.loader.show {
    display: block;
}
.loader:before,
.loader:after {
    position: absolute;
    display: block;
    content: "";
    -webkit-animation: load 1.8s ease-in-out infinite;
    animation: load 1.8s ease-in-out infinite;
    height: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
.loader:before {
    top: -20px;
    left: 10px;
    width: 40px;
    background: #1ac9a6;
}
.loader:after {
    bottom: -20px;
    width: 35px;
    background: #24363f;
}

.news{
    padding-top: 80px;
    padding-bottom: 130px;

    text-align: left;
}
.news_title {
    margin: 0;
    margin-bottom: 100px;
    position: relative;
    font-size: 36px;
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
    color: #4e4e4e;
}
.news_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news_item {
    margin-bottom: 45px;
    position: relative;
    text-decoration: none;
    background-color: #f0f4f6;
    border: 1px solid #dadada;
}
.news_item:nth-child(n+5) {
    margin-bottom: 0;
}
.news_item:hover {
    border: 1px solid rgb(192, 192, 192);
}
.news_item-inner {
    padding: 10px 5px 10px 20px;
    box-sizing: border-box;
}
.news_image {
    object-fit: cover;
}
.news_item-title {
    margin: 0;
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: bold;
    color: #717171;
    text-transform: capitalize;
    transition: color 500ms ease-out;
}
.news_item:hover .news_item-title {
    color: #1ac9a6;
}
.news_item:hover .news_item-date {
    background-color: #1ac9a6;
}
.news_item-date {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    font-weight: normal;
    color: #ffffff;
    background-color: #223e38;
    transition: background-color 500ms ease-in;
}
.news_item-author {
    padding-right: 15px;
    border-right: 2px solid #adaeaf;
}
.news_item-author,
.news_item-comments {
    display: inline-block;
    font-size: 14px;
    font-weight: lighter;
    color: #777777;
}
.news_item-comments {
    padding-left: 15px;
}


.references-wrapper {
    background:
            linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url('../img/Sections background/section-3.jpg') center no-repeat;

    background-size: cover;
}
.references {
    padding-top: 95px;
    padding-bottom: 100px;

    text-align: center;
}
.references_title {
    margin: 0;
    margin-bottom: 165px;
    position: relative;
    font-size: 36px;
    font-weight: normal;
    text-transform: capitalize;
    color: #ffffff;
}
.references_subtitle {
    margin: 0;
    margin-top: 79px;
    margin-bottom: 35px;
    position: relative;
    font-size: 16px;
    font-weight: lighter;
    line-height: 30px;
    color: #bbbbbb;
}
.references_subtitle::before {
    position: absolute;
    content: "\f10d";
    top: -65px;
    left: calc(100%/2 - 20px);
    font-family: FontAwesome;
    font-size: 45px;
    color: #1ac9a6;
}
.references_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.references_item {
    display: none;
    margin-bottom: 40px;
}
.references_item.active {
    display: block;
}
.references_item-text {
    display: inline-block;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 35px;
    position: relative;
    font-size: 16px;
    font-weight: lighter;
    line-height: 30px;
    color: #bbbbbb;
}
.references_item-text::before {
    position: absolute;
    content: "\f10d";
    top: -65px;
    left: calc(100%/2 - 20px);
    font-family: FontAwesome;
    font-size: 45px;
    color: #1ac9a6;
}
.references_item-name {
    margin-bottom: 15px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    color: #18cfab;
}
.references_item-position {
    margin-bottom: 40px;
    display: block;
    font-size: 13px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #bbbbbb;
}
.references_item-image {
    border: 3px solid #1ac9a6;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(33, 212, 176, 0.2);
}
.references_btn {
    position: relative;
    width: 33px;
    height: 33px;
    background-color: transparent;
    border: 1px solid #b5b5b6;
    cursor: pointer;
    box-sizing: border-box;
}
.references_btn.btn-prev::before {
    position: absolute;
    top: calc(100%/2 - 6px);
    left: calc(100%/2 - 6px);

    font-family: FontAwesome;
    font-size: 12px;
    content: "\f053";
    color: #b5b5b6;
}
.references_btn.btn-next::before {
    position: absolute;
    top: calc(100%/2 - 6px);
    left: calc(100%/2 - 3px);
    font-family: FontAwesome;
    font-size: 12px;
    content: "\f054";
    color: #b5b5b6;
}
.references_btn:hover {
    color: #ffffff;
    background-color: #1ac9a6;
    border: none;
}
.references_thumbnail {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 480px;
    min-height: 85px;
}
.references_thumbnail-img {
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(33, 212, 176, 0.2);
    cursor: pointer;
    transition: transform 400ms;
    opacity: 0.8;
}
.references_thumbnail-img.active {
    border: 2px solid #1ac9a6;
    transform: translateY(-10px);
    opacity: 1;
}
.references_thumbnail-img:hover {
    opacity: 1;
}

.gallery {
    padding-top: 100px;
    padding-bottom: 85px;
    text-align: center;
}
.gallery_title {
    margin: 0;
    margin-bottom: 110px;
    position: relative;
    font-size: 36px;
    font-weight: normal;
    text-transform: capitalize;
    color: #4e4e4e;
}
.grid {
    margin: 0 auto;
    margin-bottom: 65px;
    box-sizing: border-box;
}
.grid-sizer {
    width: calc(100%/6);
}
.grid-item {
    width: calc(100%/3);
    margin-bottom: 20px;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}
.grid-item-width2 {
    width: calc(100%/6);
}
.grid-item_icon-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    transition: opacity 250ms ease-out;
}
.grid-item_icon {
    position: absolute;
    top: calc(100%/2 - 20px);
    padding: 12px 15px;
    background-color: #14b9d5;
    border-radius: 5%;
    cursor: pointer;
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 15px;
    font-style: normal;
}
.grid-item_icon:hover {
    background-color: #ffffff;
    color: #14b9d5;
}
.icon-search {
    padding: 13px 14px;
    left: calc(100%/2 - 50px);
}
.icon-arrows {
    left: calc(100%/2 + 10px);
}
.gallery_btn {
    padding: 25px 30px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    vertical-align: center;
    color: #ffffff;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #1ac9a6;
    transition: background-color 300ms ease-in;
}
.gallery_btn:hover {
    background-color: #28947e;
}
.gallery_btn-icon {
    margin-right: 15px;
    font-family: FontAwesome;
    font-size: 25px;
    font-weight: normal;
    line-height: 30px;
    vertical-align: middle;
    color: #ffffff;
    font-style: normal;
}

.footer {
    padding-top: 47px;
    padding-bottom: 47px;
    text-align: center;
    background-color: #24363f;
}
.footer-copyright {
    margin: 0;
    font-size: 14px;
    font-weight: lighter;
    color: #aeaeae;
}
.footer_icon {
    font-family: FontAwesome;
    font-size: 14px;
    color: #aeaeae;
    font-style: normal;
}
.footer_link {
    color: #18cfab;
    text-decoration: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
}