.main{
    width: 500px;
    margin: 0 auto;
}

.post{
    padding: 20px 0 20px 20px;
    margin-bottom: 20px;
    background-color:  lightblue;
    position: relative;

}

.delete-button{
    position: absolute;
    top:10px;
    right:10px;
    color:rgb(235, 235, 235);
    font-size: 20px;
    display: inline-block;
    border: 1px solid grey;
    text-transform: uppercase;
    background-color: rgb(78, 77, 69);
    cursor: pointer;
    padding: 2px;
}

.user-name{
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 15px;
    margin-right: 10px;
}

.user-email{
    font-size: 12px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 5px;
    font-style: italic;
}

.title{
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.user-text{
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 5px;
}



.blocker{
    display: none;
}

.blocker.active{
    display: block;
    background-color: rgba(0, 0, 0, 0.116);
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.modal{
    position: absolute;
    top:50%;
    left:50%;
    width:400px;
    height:400px;
    text-align: center;
    background-color: #fff;
    z-index: 1;
    transform: translate(-50% ,-50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.modal.active{
    display: block;
}

.close-modal{
    font-size: 30px;
    color: red;
    position: absolute;
    top:10px;
    right:10px;
    cursor: pointer;
}

.add-post{
    position: absolute;
    top:100px;
    left:100px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    display: inline-block;
    padding: 10px;
    background-color: lightgrey;
    cursor: pointer;
    color: #000;
}

.create-post{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(187, 206, 121);
    cursor: pointer;
    color: #000;
    width: 100px;
    position: absolute;
    bottom: 10px;
    left:50%;
    transform: translate(-50%);
}

.modal-block{
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}


.text-input{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
    outline: none;
}

