.container{
    width: 1192px;
    padding: 24px 30px 32px 20px;
    background-color: #3a4965;
    box-sizing: border-box;
}
/*THEAD*/

.table-text{
    text-align: center;
    background-color: #fafafa;
    text-transform: uppercase;
    vertical-align: middle;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    line-height: 1.2;
}

.first-paragraph{
    font-size: 18px;
}

.second-paragraph{
    font-size: 30px;
}

.plan{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    height: 70px;
    vertical-align: middle;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}

.bg-standart{
    background-color: #89c331;
}

.bg-ultimate{
    background-color: #f04a56;
}

.fz-ultimate{
    font-size: 30px;
}

.bg-premium{
    background-color: #20807c;
}

.bg-contact{
    background-color: #484848;
}

.package-price{
    background-color: #fafafa;
    color: #484848;
    height: 86px;
    border-left: 2px solid #dadada;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}

.price{
    font-size: 60px;
    position: relative;
}

.price::before{
    content: '\0024';
    margin-right: 2px;
}

.price::after{
    content: '.99';
    font-size: 24px;
    position: absolute;
    top: 9px;
}

/*TBODY*/

.table-cell{
    padding: 29px 0 27px;
    text-align: center;
    border: 2px solid #dadada;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
}

.table-row-name{
    width: 310px;
}

.fas{
    display: inline-block;
    margin-right: 12px;
    font-size: 20px;
    vertical-align: center;
}

.table-cells{
    width: 277px;
}

tbody .table-cell{
    font-size: 16px;
    color:#848484;
}

tbody tr:nth-child(odd){
    background-color: #f2f2f2;
}

tbody tr:nth-child(even){
    background-color: #e3e3e3;
}

/*TFOOT*/

tfoot td:first-child{
    background-color: #dddddd;
}

tfoot td:nth-child(even){
    background-color: #eeeeee;
}

tfoot td:nth-child(3){
    background-color: #f4f4f4;
}

.btn{
    width: 192px;
    height: 42px;
    border-radius: 4px;
    text-transform: uppercase;
    color:#ffffff;
    border:none;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}

.btn.bg-contact:hover{
    color:#484848;
    font-weight: bold;
    background-color: #dddddd;
    transition: 0.4s;
    border: 2px solid #484848;
}

.btn.bg-standart:hover{
    color:#89c331;
    font-weight: bold;
    background-color: #eeeeee;
    transition: 0.4s;
    border: 2px solid #89c331;
}

.btn.bg-ultimate:hover{
    color:#f04a56;
    font-weight: bold;
    background-color: #f4f4f4;
    transition: 0.4s;
    border: 2px solid #f04a56;
}

.btn.bg-premium:hover{
    color:#20807c;
    font-weight: bold;
    background-color: #eeeeee;
    transition: 0.4s;
    border: 2px solid #20807c;
}

.btn.contact-shadow{
    box-shadow: inset 0 -7px 1px #404040;
}
.btn.standart-shadow{
    box-shadow: inset 0 -7px 1px #79b027;
}

.btn.ultimate-shadow{
    box-shadow: inset 0 -7px 1px #df3a46;
}

.btn.premium-shadow{
    box-shadow: inset 0 -7px 1px #16736f;
}

tfoot td:first-child{
    background-color: #dddddd;
}

tfoot td:nth-child(even){
    background-color: #eeeeee;
}

tfoot td:nth-child(3){
    background-color: #f4f4f4;
}


