.trello {
    width: 300px;
    min-height: 400px;
    background-color: lightgrey;
    border:10px solid lightblue;
    border-radius: 10px;
    margin: 50px auto;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
}

.trello h2 {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 10px;
}

.sort {
    cursor: pointer;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    position: absolute;
    top:10px;
    right:15px;
}

.task-edit {
    display: none;
}


.task-edit.active {
    display: block;
    position: absolute;
    bottom: 0;
    left:10px;
    font-size: 18px;
    padding: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: lightgrey;
    border:none;
    outline: none;
}

.task-button {
    display: none;
}

.task-button.active {
    display: block;
    position: absolute;
    bottom: 5px;
    left:5px;
    font-size: 18px;
    padding: 10px 15px;
    background-color: rgb(50, 168, 50);
    color:#fff;
    border:none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button {
    display: none;
}

.close-button.active{
    display: block;
    position: absolute;
    bottom: 10px;
    right:20%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    color:rgba(75, 74, 74, 0.171);
    cursor: pointer;
}

.text-area {
    display: none;
}

.text-area.active {
    display: block;
    position: absolute;
    bottom:55px;
    width: 93%;
    font-size: 18px;
    padding: 5px 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color:rgb(231, 231, 231);
    cursor: pointer;
}

.task {
    padding: 15px;
    background-color: #fff;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto 10px;
    border-radius: 5px;
    cursor: pointer;
}
