.footer{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 50px;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.copyright{
    text-align: center;
    color: #999999;
    padding-bottom: 25px;
}

.copyright > .bold{
    font-weight: bold;
}

.copyright > .gray{
    color: #CECFCF;
}
