.main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.star-wars{
    width: 30%;
    text-align: center;
    margin-bottom: 30px;
}

.star-wars-title{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.star-wars-episode{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.star-wars-crawl{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.5;
}
