.navbar-nav{
    position: relative;
}
.navbar-nav > .container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    margin-bottom: 24px;

}
.navbar-nav::after{
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(#000000, #000000, transparent);
    opacity: 0.4;
}

.sign-btn {
    color: inherit;
    font-size: 14px;
    padding: 7px 27px;
}

.sign-btn.sign-up{
    background-color: #0AAEE4;
    border-radius: 3px;
}
