body {
    overflow: hidden;
    background-image: url(../img/BG_img.jpg);
    font: 700 1em "News Cycle", sans-serif;
}
.color_yellow{
    color: yellow;
}
.episode{
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.name-episode{
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.episode-text{
    line-height: 1.2;
    margin: 1.35em 0 1.85em 0;
}
.logo{
    background-image: url(../img/Star_Wars_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 0;
    position: absolute;
    width: 50%;
    left: 50%;
    height: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: logo 100s ease-in 1;
}
@keyframes logo {
    1% {
        transform: translateX(-50%) translateY(-50%) scale(2);
        opacity: 0;
    }
    3% {
        opacity: 1;
    }
    6% {
        transform: translateX(-50%) translateY(-50%) scale(0.1);
        opacity: 0;
    }
}

.animation {
    text-align: center;
    position: absolute;
    width: 60%;
    margin: 0 20% 0 20%;
    height: 100%;
    font-size: 200%;
    text-align: justify;
    color: #ff6;
    transform: perspective(200px) rotateX(30deg);
}
.scrolling{
    position: absolute;
    top: 100%;
    animation: scroller 90s linear infinite;
}
@keyframes scroller {
    0% {
        top: 100%;
        opacity: 0;
    }
    2% {
        top: 100%;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }
    100% {
        top: -250%;
        opacity: 0;
    }
}
