.Homework3{
    background-image: url("..//img/background@1X.png");
    height: 768px;
    width: 1366px;
    background-size: cover;
    font-family: 'Monda','Montserrat', sans-serif;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
a {
    text-decoration: none;
}
.Header{
    display: inline-block;
    width: 1366px;
    height: 93px;
    margin-bottom: 48px;
}
.Logo{
    display: inline-block;
    margin: 49px 0 0 155px;
}
.Picture{
    display: block;
    text-align: center;
}
.Logo:hover .Picture{
    background: url("..//img/logo@2X.png");
}
.Logo:hover p{
    color: rgba(242, 101, 34);
}
.Logo:hover img {
    visibility: hidden;
}
.CompanyLogo{
    float: left;
    width: 46px;
    height: 44px;
}

.LogoText1{
    display: block;
    font-size: 29px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
    margin: -4px 0 0 61px;
    font-weight: 700;
}
.LogoText2{
    display: block;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
    margin: -1px 0 0 61px;
    font-weight: bold;
}

.CompanyContacts{
    font-size: 18px;
    text-align: right;
    display: inline-block;
    color: rgba(255, 255, 255, 255);
    float: right;
    margin-top: 49px;
}
.CompanyContacts p {
    margin: 0 150px;
}
.TourCards{
    height: 585px;
    width: 1071px;
    margin: 0 auto;
}
.Tour:nth-child(3n){
    margin-right: 0;
}
.Tour{
    text-align: center;
    width: 307px;
    height: 200px;
    display: inline-block;
    float: left;
    margin-right: 69px;
    margin-bottom: 92px;
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, white 0%, black 100%);
    border-image-slice: 1;
    position: relative;
    box-sizing: border-box;
}
.Tour p{
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    margin-top: 18px;
}
.Tour:hover div.TourDetails{
    cursor: pointer;
    height: 65px;
}
.Tour:hover p{
    color: rgba(242, 101, 34);
}
.CompanyLogo:hover{
    color: rgba(242, 101, 34);
}
.TourDetails{
    background-color: rgba(242, 101, 34);
    position: absolute;
    color: rgba(255, 255, 255, 255);
    display: block;
    width: 100%;
    height: 0;
    transition-duration: 0.6s;
    overflow: hidden;
    bottom: 0;
}
.TourPrice{
    font-size: 10px;
    margin: 16px 18px 17px 21px;
    text-align: left;
}
.Price{
   font-size: 20px;
}
.Price:before {
    content: '\20AC';
    position: relative;
    font-size: 20px;
}
.Details{
    font-size: 14px;
    padding-left: 121px;
    text-align: right ;
}
.Details:after{
    content: '\203A';
    position: relative;
    font-size: 18px;
    top: 1px;
    margin-left: 15px;
}
.Copyrights{
    font-size: 12px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-bottom: 17px;
    margin-top: 9px;
}
.Copyrights:before{
    content: '\00A9';
    margin-right: 5px;
}