.films-categories-menu{
    display: flex;
}

.films-categories-item{
    color: #0AAEE4;
    text-transform: capitalize;
    padding-bottom: 5px;
    margin-right: 15px;
}

.films-categories-item.active{
    border-bottom: 2px solid #0AAEE4;
    font-weight: bold;
}
